body {
    background: rgb(245, 245, 245);
    color: black;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
ul {
    margin: 0;
    text-align: center;
    padding: 0;
    list-style-type: none;
    padding-bottom: 2rem;
    background-color: white;
}

li {
    display: inline-block;
    margin-right: 2rem;
    font-weight: 300;
    margin-top: 2rem;
}

ul a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    position: relative;
}

ul a:hover{
    color: lightblue;
}

ul a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px; 
    background-color: lightblue; 
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.5s ease; 
}

ul a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

ul li.current a::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.line{
    border-bottom: 1px solid rgb(97, 97, 97);
}

.services {
    position: relative;
    background-image: url(../../Assets/services-header.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 1px;
    margin: 0;
    height: 400px;
}

.services::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: inherit;
    background-size: inherit;
    background-position: inherit;
    filter: grayscale(100%);
    z-index: 0; 
}

.services-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(173, 216, 230, 0.6); 
    color: white;
    padding: 0px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    z-index: 1; 
}

.services h1 {
    font-size: 80px;
    color: white;
    position: relative;
    z-index: 2; 
}


.services-container{
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    gap: 50px;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    justify-content: center;
}

.service-item{
    height: 600px;
    width: 500px;
    border-radius: 30px;
    background-color: white;
    border: 2px solid transparent;
    transition: all 0.3s;
}

.service-item span{
    color: lightblue;
    font-size: 30px;
}

.service-item p{
    line-height: 30px;
    font-size: 15px;
}

.service-item:hover{
    border: 2px solid lightblue;
}

.footer-container{
    height: 350px;
    background-color: rgb(39, 39, 39);
    padding: 1px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding-top: 4%;
}
.hover-footer{
    transition: all 0.3s;
}
.hover-footer:hover{
    color: lightblue;
}
.business h1{
    color: lightblue;
}
.business p{
    color: white;
    line-height: 30px;
}
.contact h1{
    color: lightblue;
}
.contact p{
    color: white;
    line-height: 30px;
}
.explore h1{
    color: lightblue;
}
.explore p{
    color: white;
    line-height: 30px;
}
.copyright{
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(32, 32, 32);
    color: white;
}
.priority-footer{
    color: lightblue;
}
.footer-line{
    border-bottom: 1px solid rgb(97, 97, 97);
}

@media screen and (max-width: 600px){
    .services {
        position: relative;
        background-image: url(../../Assets/services-header.jpg);
        background-size: cover;
        background-position: center;
        text-align: center;
        padding: 1px;
        margin: 0;
        height: 200px;
    }
    
    .services::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: inherit;
        background-size: inherit;
        background-position: inherit;
        filter: grayscale(100%);
        z-index: 0; 
    }
    
    .services-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(173, 216, 230, 0.6); 
        color: white;
        padding: 0px;
        display: flex; 
        justify-content: center; 
        align-items: center; 
        z-index: 1; 
    }
    
    .services h1 {
        font-size: 50px;
        color: white;
        position: relative;
        z-index: 2; 
    }


    .services-container{
        display: grid;
        grid-template-columns: repeat(1, 0fr);
        gap: 20px;
        padding-top: 5%;
        padding-bottom: 5%;
        text-align: center;
        justify-content: center;
    }
    
    .service-item{
        height: 450px;
        width: 250px;
        border-radius: 30px;
        background-color: white;
        border: 2px solid transparent;
        transition: all 0.3s;
    }
    .service-item h1{
        font-size: 20px;
    }
    .service-item span{
        color: lightblue;
        font-size: 20px;
    }
    
    .service-item p{
        line-height: 20px;
        font-size: 15px;
    }
    
    .service-item:hover{
        border: 2px solid lightblue;
    }



    .footer-container{
        height: 600px;
        background-color: rgb(39, 39, 39);
        padding: 1px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-top: 4%;
    }
    .hover-footer{
        transition: all 0.3s;
    }
    .hover-footer:hover{
        color: lightblue;
    }
    .business h1{
        color: lightblue;
    }
    .business p{
        color: white;
        line-height: 30px;
    }
    .contact h1{
        color: lightblue;
    }
    .contact p{
        color: white;
        line-height: 30px;
    }
    .explore h1{
        color: lightblue;
    }
    .explore p{
        color: white;
        line-height: 30px;
    }
    .copyright{
        text-align: center;
        margin: 0 auto;
        padding: 20px;
        background-color: rgb(32, 32, 32);
        color: white;
    }
    .priority-footer{
        color: lightblue;
    }
    .footer-line{
        border-bottom: 1px solid rgb(97, 97, 97);
    }
}

@media (min-width: 601px) and (max-width: 899px){
    .services {
        position: relative;
        background-image: url(../../Assets/services-header.jpg);
        background-size: cover;
        background-position: center;
        text-align: center;
        padding: 1px;
        margin: 0;
        height: 300px;
    }
    
    .services::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: inherit;
        background-size: inherit;
        background-position: inherit;
        filter: grayscale(100%);
        z-index: 0; 
    }
    
    .services-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(173, 216, 230, 0.6); 
        color: white;
        padding: 0px;
        display: flex; 
        justify-content: center; 
        align-items: center; 
        z-index: 1; 
    }
    
    .services h1 {
        font-size: 80px;
        color: white;
        position: relative;
        z-index: 2; 
    }
    
    
    .services-container{
        display: grid;
        grid-template-columns: repeat(2, 0fr);
        gap: 50px;
        padding-top: 5%;
        padding-bottom: 5%;
        text-align: center;
        justify-content: center;
    }
    
    .service-item{
        height: 550px;
        width: 250px;
        border-radius: 30px;
        background-color: white;
        border: 2px solid transparent;
        transition: all 0.3s;
    }
    
    .service-item span{
        color: lightblue;
        font-size: 30px;
    }
    
    .service-item p{
        line-height: 25px;
        font-size: 15px;
    }
    
    .service-item:hover{
        border: 2px solid lightblue;
    }

    .footer-container{
        height: 600px;
        background-color: rgb(39, 39, 39);
        padding: 1px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-top: 4%;
    }
    .hover-footer{
        transition: all 0.3s;
    }
    .hover-footer:hover{
        color: lightblue;
    }
    .business h1{
        color: lightblue;
    }
    .business p{
        color: white;
        line-height: 30px;
    }
    .contact h1{
        color: lightblue;
    }
    .contact p{
        color: white;
        line-height: 30px;
    }
    .explore h1{
        color: lightblue;
    }
    .explore p{
        color: white;
        line-height: 30px;
    }
    .copyright{
        text-align: center;
        margin: 0 auto;
        padding: 20px;
        background-color: rgb(32, 32, 32);
        color: white;
    }
    .priority-footer{
        color: lightblue;
    }
    .footer-line{
        border-bottom: 1px solid rgb(97, 97, 97);
    }
}

@media (min-width: 900px) and (max-width: 1199px){
    .services {
        position: relative;
        background-image: url(../../Assets/services-header.jpg);
        background-size: cover;
        background-position: center;
        text-align: center;
        padding: 1px;
        margin: 0;
        height: 300px;
    }
    
    .services::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: inherit;
        background-size: inherit;
        background-position: inherit;
        filter: grayscale(100%);
        z-index: 0; 
    }
    
    .services-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(173, 216, 230, 0.6); 
        color: white;
        padding: 0px;
        display: flex; 
        justify-content: center; 
        align-items: center; 
        z-index: 1; 
    }
    
    .services h1 {
        font-size: 80px;
        color: white;
        position: relative;
        z-index: 2; 
    }
    
    
    .services-container{
        display: grid;
        grid-template-columns: repeat(2, 0fr);
        gap: 50px;
        padding-top: 5%;
        padding-bottom: 5%;
        text-align: center;
        justify-content: center;
    }
    
    .service-item{
        height: 550px;
        width: 300px;
        border-radius: 30px;
        background-color: white;
        border: 2px solid transparent;
        transition: all 0.3s;
    }
    
    .service-item span{
        color: lightblue;
        font-size: 30px;
    }
    
    .service-item p{
        line-height: 25px;
        font-size: 15px;
    }
    
    .service-item:hover{
        border: 2px solid lightblue;
    }
}