body {
    background: rgb(233, 233, 233);
    color: black;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.hidden{
    opacity: 0;
    transform: translateX(-25%);
    transition: all 1s;
}
.show{
    opacity: 1;
    transform: translateX(0);
}
.nav-plus{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: white;
}
.nav-plus img{
    height: 60px;
    padding: 0;
    margin: 0;
}
ul {
    margin: 0;
    text-align: center;
    padding: 0;
    list-style-type: none;
    padding-bottom: 1rem;
    background-color: white;
}

li {
    display: inline-block;
    margin-right: 2rem;
    font-weight: 300;
    margin-top: 1rem;
}

ul a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    position: relative;
}

ul a:hover{
    color: lightblue;
}

ul a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px; 
    background-color: lightblue; 
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.5s ease; 
}

ul a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

ul li.current a::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.nav-plus button{
    padding: 1rem 2rem;
    border-radius: 3rem;
    font-weight: 600;
    font-size: 15px;
    border: none;
    color: white;
    background-color: lightblue;
    transition: all 0.5s;
    cursor: pointer;
}

.nav-plus button:hover{
    background-color: rgb(131, 172, 184);
    color: white;
    border: none;
}
#menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 101;
}

.menu-icon span {
    height: 3px;
    width: 25px;
    border-radius: 20px;
    background: #000;
    margin: 2px 0;
    transition: 0.4s;
}
nav ul {
    display: flex;
}
.line{
    border-bottom: 1px solid rgb(97, 97, 97);
}
.book-header {
    position: relative;
    background-image: url(../../Assets/book-header.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 1px;
    margin: 0;
    height: 400px;
}

.book-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: inherit;
    background-size: inherit;
    background-position: inherit;
    filter: grayscale(100%);
    z-index: 0; 
}

.book-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(173, 216, 230, 0.6); 
    color: white;
    padding: 0px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    z-index: 1; 
}

.book-header h1 {
    font-size: 80px;
    color: white;
    position: relative;
    z-index: 2; 
}
.book-container{
    background-color: rgb(255, 255, 255);
    height: 650px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 5%;
}

.book-container h1{
    padding-top: 2%;
    color: lightblue;
}
.book-container input{
    border: none;
    background-color: rgb(217, 217, 217);
    height: 40px;
    width: 600px;
    color: rgb(0, 0, 0);
    border: 3px solid transparent;
    margin: 1%;
    padding-left: 1%;
}

.name input{
    height: 40px;
    width: 280px;
    color: rgb(0, 0, 0);
    margin: 1%;
}

.more input{
    padding-bottom: 100px;
}

.book-container button{
    padding: 20px 55px;
    border-radius: 3rem;
    font-weight: 200;
    font-size: 20px;
    border: 1px solid white;
    color: white;
    background-color: lightblue;
    transition: all 0.5s;
    cursor: pointer;
}

.book-container input:hover{
    border-color: lightblue;
}



.footer-container{
    height: 350px;
    background-color: rgb(39, 39, 39);
    padding: 1px;
    color: white;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    padding-top: 4%;
}
.hover-footer{
    transition: all 0.3s;
}
.hover-footer:hover{
    color: lightblue;
}
.footer-item{
    flex: 1;
}
.footer-item h1{
    color: lightblue;
}
.footer-item p{
    color: white;
    line-height: 30px;
}
.copyright{
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(32, 32, 32);
    color: white;
}
.priority-footer{
    color: lightblue;
}
.footer-line{
    border-bottom: 1px solid rgb(97, 97, 97);
}

@media screen and (max-width: 600px){
    .menu-icon {
        display: flex;
    }
    .nav-plus{
        height: 15px;
    }
    nav {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: lightblue;
        z-index: 100; 
        transform: translateX(-100%);
        transition: transform 0.5s ease-in-out;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: lightblue;
    }

    nav ul li {
        margin: 1rem 0;
        background-color: lightblue;
    }

    nav ul li a {
        color: white;
        background-color: lightblue;
        font-size: 2rem;
        text-decoration: none;
    }

    .nav-plus button {
        display: none;
        background-color: white;
        color: lightblue;
        position: fixed;
        bottom: 10rem;
        left: 50%;
        transform: translateX(-50%);
        width: 60%;
        max-width: 400px;
        z-index: 102;
    }

    #menu-toggle:checked ~ nav {
        display: flex;
        transform: translateX(0); 
    }

    #menu-toggle:checked ~  button {
        display: inline-block; 
    }

    #menu-toggle:checked + .menu-icon span:nth-child(1) {
        transform: rotate(-45deg);
    }

    #menu-toggle:checked + .menu-icon span:nth-child(2) {
        transform: rotate(45deg) translate(-5px, -5px);
    }
    .book-header {
        position: relative;
        background-image: url(../../Assets/book-header.jpg);
        background-size: cover;
        background-position: center;
        text-align: center;
        padding: 1px;
        margin: 0;
        height: 200px;
    }
    
    .book-header h1 {
        font-size: 40px;
        color: white;
        position: relative;
        z-index: 2; 
    }

    .book-container{
        background-color: rgb(255, 255, 255);
        height: 550px;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 10%;
        border-radius: 20px;
        text-align: center;
        margin-bottom: 5%;
    }
    
    .book-container h1{
        padding-top: 2%;
        margin: 3%;
        color: lightblue;
    }
    .book-container input{
        font-size: 12px;
    }
    
    .name{
        display: flex;
        flex-direction: column;
        place-items: center;
    }
    .name input{
        height: 20px;
        width: 280px;
        color: rgb(0, 0, 0);
        margin: 1%;
    }

    .middle input{
        height: 20px;
        width: 280px;
    }
    
    .more input{
        padding-bottom: 100px;
        width: 280px;
    }
    
    .book-container button{
        padding: 10px 27px;
        border-radius: 3rem;
        font-weight: 200;
        font-size: 20px;
        border: 1px solid white;
        color: white;
        background-color: lightblue;
        transition: all 0.5s;
        cursor: pointer;
    }
    
    .book-container input:hover{
        border-color: lightblue;
    }

    .footer-container{
        height: 600px;
        background-color: rgb(39, 39, 39);
        padding: 1px;
        color: white;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        padding-top: 4%;
    }
}

@media (min-width: 601px) and (max-width: 899px){
    .book-header {
        position: relative;
        background-image: url(../../Assets/book-header.jpg);
        background-size: cover;
        background-position: center;
        text-align: center;
        padding: 1px;
        margin: 0;
        height: 300px;
    }
    
    .book-header h1 {
        font-size: 60px;
        color: white;
        position: relative;
        z-index: 2; 
    }

    .book-container{
        background-color: rgb(255, 255, 255);
        height: 550px;
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 10%;
        border-radius: 20px;
        text-align: center;
        margin-bottom: 5%;
    }
    
    .book-container h1{
        padding-top: 2%;
        color: lightblue;
    }
    .book-container input{
        font-size: 12px;
    }
    
    .name input{
        height: 20px;
        width: 140px;
        color: rgb(0, 0, 0);
        margin: 1%;
    }

    .middle input{
        height: 20px;
        width: 310px;
    }
    
    .more input{
        padding-bottom: 100px;
        width: 310px;
    }
    
    .book-container button{
        padding: 10px 27px;
        border-radius: 3rem;
        font-weight: 200;
        font-size: 20px;
        border: 1px solid white;
        color: white;
        background-color: lightblue;
        transition: all 0.5s;
        cursor: pointer;
    }
    
    .book-container input:hover{
        border-color: lightblue;
    }

    .footer-container{
        height: 600px;
        background-color: rgb(39, 39, 39);
        padding: 1px;
        color: white;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        padding-top: 4%;
    }
}

@media (min-width: 900px) and (max-width: 1199px){
    .book-header {
        position: relative;
        background-image: url(../../Assets/book-header.jpg);
        background-size: cover;
        background-position: center;
        text-align: center;
        padding: 1px;
        margin: 0;
        height: 300px;
    }
    
    .book-header h1 {
        font-size: 40px;
        color: white;
        position: relative;
        z-index: 2; 
    }

    .book-container{
        background-color: rgb(255, 255, 255);
        height: 550px;
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 10%;
        border-radius: 20px;
        text-align: center;
        margin-bottom: 5%;
    }
    
    .book-container h1{
        padding-top: 2%;
        color: lightblue;
    }
    .book-container input{
        font-size: 12px;
    }
    
    .name input{
        height: 20px;
        width: 140px;
        color: rgb(0, 0, 0);
        margin: 1%;
    }

    .middle input{
        height: 20px;
        width: 310px;
    }
    
    .more input{
        padding-bottom: 100px;
        width: 310px;
    }
    
    .book-container button{
        padding: 10px 27px;
        border-radius: 3rem;
        font-weight: 200;
        font-size: 20px;
        border: 1px solid white;
        color: white;
        background-color: lightblue;
        transition: all 0.5s;
        cursor: pointer;
    }
    
    .book-container input:hover{
        border-color: lightblue;
    }

    .footer-container{
        height: 600px;
        background-color: rgb(39, 39, 39);
        padding: 1px;
        color: white;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        padding-top: 4%;
    }
}