body {
    background: rgb(233, 233, 233);
    color: black;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
ul {
    margin: 0;
    text-align: center;
    padding: 0;
    list-style-type: none;
    padding-bottom: 2rem;
    background-color: white;
}

li {
    display: inline-block;
    margin-right: 2rem;
    font-weight: 300;
    margin-top: 2rem;
}

ul a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    position: relative;
}

ul a:hover{
    color: lightblue;
}

ul a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px; 
    background-color: lightblue; 
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.5s ease; 
}

ul a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

ul li.current a::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.line{
    border-bottom: 1px solid rgb(97, 97, 97);
}
.book-container{
    background-color: rgb(255, 255, 255);
    height: 600px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    border-radius: 20px;
    text-align: center;
}

.book-container h1{
    color: lightblue;
}
.book-container input{
    border: none;
    background-color: rgb(217, 217, 217);
    height: 40px;
    width: 600px;
    color: rgb(0, 0, 0);
    border: 3px solid transparent;
    margin: 1%;
    padding-left: 1%;
}

.name input{
    height: 40px;
    width: 280px;
    color: rgb(0, 0, 0);
    margin: 1%;
}

.more input{
    padding-bottom: 100px;
}

.book-container button{
    padding: 20px 55px;
    border-radius: 3rem;
    font-weight: 200;
    font-size: 20px;
    border: 1px solid white;
    color: white;
    background-color: lightblue;
    transition: all 0.5s;
    cursor: pointer;
}

.book-container input:hover{
    border-color: lightblue;
}


