body {
    background: rgb(255, 255, 255);
    color: black;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    height: 400px;
}
ul {
    margin: 0;
    text-align: center;
    padding: 0;
    list-style-type: none;
    padding-bottom: 2rem;
    background-color: white;
}

li {
    display: inline-block;
    margin-right: 2rem;
    font-weight: 300;
    margin-top: 2rem;
}

ul a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    position: relative;
}

ul a:hover{
    color: lightblue;
}

ul a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px; 
    background-color: lightblue; 
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.5s ease; 
}

ul a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

ul li.current a::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.line{
    border-bottom: 1px solid rgb(97, 97, 97);
}
.construction h1{
    text-align: center;
    font-size: 60px;
    color: white;
    height: 400px;
    padding-top: 10%;
} 

.construction video{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
}

.footer-container{
    height: 350px;
    background-color: rgb(39, 39, 39);
    padding: 1px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding-top: 4%;
}
.hover-footer{
    transition: all 0.3s;
}
.hover-footer:hover{
    color: lightblue;
}
.business h1{
    color: lightblue;
}
.business p{
    color: white;
    line-height: 30px;
}
.contact h1{
    color: lightblue;
}
.contact p{
    color: white;
    line-height: 30px;
}
.explore h1{
    color: lightblue;
}
.explore p{
    color: white;
    line-height: 30px;
}
.copyright{
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(32, 32, 32);
    color: white;
}
.priority-footer{
    color: lightblue;
}
.footer-line{
    border-bottom: 1px solid rgb(97, 97, 97);
}